doctype html
html
  head
    include ./head

  body
    .nmr
      block content

    if config.github
      include ./github

    if script
      script!=script
    else
      script(src="./js/index.js")
