doctype html
html
  head
    include ./head

  body
    .nmr
      h1 网易云音乐推荐

      block content

    if config.github
      include ./github

    if script
      script!=script
    else
      script(src="./js/index.js")
